@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1132px;
  --default-font-family: "Plus Jakarta Sans", "roboto", "sans-serif";

  --color-azul-1: #465eff;

  /* Amarelo */
  --color-amarelo-1: #fcfc30;
  --color-amarelo-2: #F5B800;


  --color-rosa-1: #ff6e91;

  /* Cinza */
  --color-cinza-1: #6B6B6B;

  /* Preto */
  --color-preto-1: #000000;
  --color-preto-2: #111110;
  --color-preto-3: #0F0F12;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

#root {
  @apply flex flex-col min-h-dvh;
}